RewriteEngine On
Options -MultiViews
DirectoryIndex index.php

# Serve extensionless URLs from matching .php file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

ErrorDocument 404 /404.php
